

 <footer class="text-center text-lg-start bg-light text-muted">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-instagram"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="me-4 text-reset">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
        <div class="d-flex justify-content-around align-items-center h-100">
         <i class="fa-brands fa-facebook color-facebook"></i>
         <i class="fa-brands fa-tiktok color-tiktok"></i>
         <i class="fa-brands fa-youtube color-youtube"></i>
         <i class="fa-brands fa-whatsapp color-whatsapp"></i>
       </div>          
   


    <button>DIVICION</button>&nbsp;&nbsp;<i class="fa-solid fa-divide fa-2xl"></i>
    <section id="mi-parrafo">
        <br><form>
            <label>Div1</label>
            <input type="text" id="div1" value="">
            <label>Div2</label>
            <input type="text" id="div2" value="">      
            <br /><br><input type="button" value="DIVIDIR"  id="btn2">
        </form><br>
    </section>

    <button>RESTA</button>&nbsp;&nbsp;<i class="fa-solid fa-minus fa-2xl"></i>
    <section id="mi-parrafo">
        <br><form>
            <label>Rest1</label>
            <input type="text" id="rest1" value="">
            <label>Rest2</label>
            <input type="text" id="rest2" value="">      
            <br /><br><input type="button" value="RESTAR"  id="btn3">
        </form><br>
    </section>
    <button>IMC</button>&nbsp;&nbsp;<i class="fa-solid fa-person-half-dress fa-2xl"></i>
        <section>
            <p>Ingrese peso (kg): <input type="text" id="kg"></p>
            <p>Ingrese Altura (m): <input type="text" id="m"></p>
            <button id="calc">Calcular</button>
            <p>IMC: <span id="imc"></span></p>
            <p>Lectura: <span id="lectura"></span></p>

        <button>sexo</button>
        <label>Masculino</label>
        <input type="radio" name="hm" id="Masculino"><i class="fa-solid fa-mars"></i>
        <label>Femenino</label>
        <input type="radio" name="hm" id="Femenino"><i class="fa-solid fa-venus"></i>
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
              Here you can use rows and columns to organize your footer content. Lorem ipsum
              dolor sit amet, consectetur adipisicing elit.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <a href="#!" class="text-reset">React</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Vue</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Laravel</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Contact
            </h6>
            <p><i class="fas fa-home me-3"></i> New York, NY 10012, US</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@example.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 01 234 567 88</p>
            <p><i class="fas fa-print me-3"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
    
  </footer>

